* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  line-height: 57px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background-color: white;
}
nav {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  line-height: 57px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
nav .menu-btn i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click:checked ~ .menu-btn i::before {
  content: "\f00d";
}
#click {
  display: none;
}

.logo a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-left: 14px;
  padding-right: 10px;
}
nav .navlinks a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 14px;
}
nav a:hover {
  background-color: #ccc;
}
.logo {
  float: left;
  letter-spacing: 4px;
}
.logo:hover {
  background-color: #ccc;
}
.navlinks {
  float: right;
}

.main {
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  margin-top: 57px;
  height: 92vh;
}
.allheadings {
  margin-top: 157px;
  margin-left: 54px;
}
.main span {
  color: white;
  font-weight: lighter;
}
.main .main-heading {
  font-size: 64px;
  line-height: 1.8;
}
.second-heading {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.8;
}
.main a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  padding: 20px;
  font-size: 18px;
  background-color: #fff !important;
  opacity: 0.6;
}
.socials {
  padding-top: 180px;
  color: gray;
  font-size: 18px;

  margin-left: 50px;
}
#about {
  padding: 126px 16px;
}
#about .headings {
  text-align: center;
  font-size: 23px;
}
#about .headings p {
  padding: 15px;
}
.allcards {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allcards .card {
  text-align: center;
  margin: 10px;
}
.allcards .card p {
  padding: 20px;
  text-align: center;
}
.allcards .card i {
  font-size: 64px;
  margin-bottom: 10px;
}
.img-section {
  display: flex;
  background-color: #f1f1f1;
  padding: 126px 16px;
}
.img-section .main-1 {
  padding: 15px;
}
.img-section .main-1 p {
  margin-bottom: 20px;
  width: 75%;
}
.img-section .main-1 .head {
  font-size: 24px;
  font-weight: 400;
}
.img-section .main-1 a {
  text-decoration: none;
  color: white;
}
.img-section .main-1 button {
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.img-section .main-2 img {
  border-radius: 8px;
}
#team {
  padding: 128px 16px;
}
.allcards-team {
  display: flex;
  width: 100%;
}
.allcards-team .card {
  width: 25%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin: 10px;
}
.allcards-team .card img {
  max-width: 100%;
  max-height: 100%;
}
.allcards-team .card h3 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4px;
  padding: 0.01em 16px;
}
.allcards-team .card p {
  line-height: 1.8;
  margin: 10px 0;
  padding: 0.01em 16px;
}
.opac {
  opacity: 0.6;
}
.allcards-team .card button {
  width: 90%;
  height: 7.7%;
  margin: 19px;
  padding: 5px;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.allcards-team button:hover {
  background-color: rgb(187, 179, 179) !important;
}
#team .headings {
  text-align: center;
  margin-bottom: 50px;
}
.head-1 {
  font-weight: 400;
  font-size: 24px;
}
.head-2 {
  font-size: 18px;
  margin-top: 11px;
}
#team .headings p {
  line-height: 1.8;
}
.number-data {
  display: flex;
  color: #fff !important;
  background-color: #616161 !important;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  padding: 0.01em 16px;
}

.number-data .data {
  width: 25%;
  text-align: center;
}
.number-data .data .heading {
  font-size: 36px;
}
#work {
  padding: 128px 16px;
}
#work .img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#work .img-div img {
  max-height: 100%;
  width: 100%;
  margin: 10px;
}
#work .headings {
  text-align: center;
  margin-bottom: 40px;
}
#work .headings p {
  margin-top: 24px;
}
.skills {
  background-color: #f1f1f1 !important;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  display: flex;
  line-height: 1.8;
}
.skills .headings {
  padding: 0.01em 16px;
  width: 50%;
}
.skills .headings p {
  margin-bottom: 13px;
  width: 560px;
}
.skills .progress-bar p {
  letter-spacing: 4px;
}
.skills .progress-bar .grey {
  background-color: #9e9e9e !important;
  width: 424%;
  text-align: center;
  color: white;
  margin: 10px;
}
.skills .progress-bar .grey .dark1 {
  width: 90%;
  background-color: #616161 !important;
}
.skills .progress-bar .grey .dark2 {
  width: 85%;
  background-color: #616161 !important;
}
.skills .progress-bar .grey .dark3 {
  width: 75%;
  background-color: #616161 !important;
}
#pricing {
  padding: 128px 16px;
  font-family: "Raleway", sans-serif;

  background-color: #616161 !important;
}
#pricing .headings {
  text-align: center;
  color: #fff !important;
}
#pricing .headings h3 {
  font-size: 24px;
  font-weight: 400;
}
#pricing .price-cards {
  display: flex;
  margin-top: 40px;
}
#pricing .headings p {
  margin-top: 25px;
}
#pricing .price-cards .card {
  width: 33.33%;
  text-align: center;
  background-color: white;
  margin: 15px;
}
#pricing .price-cards .card ul {
  list-style: none;
}
#pricing .price-cards .card .title {
  height: 119px;
  background-color: #000;
  color: white;
  font-size: 24px !important;
  padding-top: 37px !important;
  padding-bottom: 37px !important;
}
#pricing .price-cards .card li {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
#pricing .price-cards .card .pro {
  height: 140px;
  margin-top: -20px;
  background-color: red;
  color: white;
  font-size: 24px !important;
  padding-bottom: 47px !important;
  padding-top: 55px !important;
}
#pricing .price-cards .card .bill {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
}
#pricing .price-cards .card p {
  font-size: 15px;
  letter-spacing: normal;
  margin-top: 10px;
}
#pricing .price-cards .card .signup {
  background-color: #f1f1f1 !important;
}
#pricing .price-cards .card button {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-bottom: none;
  padding: 19px 24px !important;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
#pricing .price-cards .card button:hover {
  color: #000;
  background-color: #9e9e9e;
}

#contact {
  padding: 128px 16px;
  background-color: #f1f1f1 !important;
}
#contact .headings {
  text-align: center;
  margin-bottom: 25px;
}
#contact .headings p {
  font-size: 18px;
}
#contact .headings h3 {
  margin-bottom: 22px;
}
#contact .contact-details,
#contact .contact-form button {
  margin-left: 16px;
}
#contact .contact-details i {
  margin-right: 16px !important;
  font-size: 28px !important;
}
#contact .contact-details p {
  margin-bottom: 25px;
  font-size: 14px;
}

#contact .contact-form input {
  width: 99%;
  padding: 11px;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  border: 1px solid #ccc !important;
}
#contact .contact-form button {
  background-color: #000;
  color: white;
  vertical-align: middle;
  padding: 11px 16px;
}
#contact .location-img img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 64px;
}
footer {
  color: #fff;
  background-color: #000;
  text-align: center;
  height: 35vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .top {
  background-color: white;
  color: #000;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 20px;
}
footer .social-icons i {
  color: white;
  font-size: 22px;
}
footer .social-icons {
  margin-bottom: 20px;
}
footer .link {
  color: white;
}
@media screen and (max-width: 560px) {
  .navlinks {
    display: none;
  }
  .main .main-heading {
    font-size: 36px;
  }
  .socials {
    padding-top: 90px;
  }
  .allcards,
  .img-section {
    display: flex;
    flex-direction: column;
  }
  .img-section .main-2 img {
    width: 100%;
  }
  .allcards-team {
    display: flex;
    flex-direction: column;
    width: 96%;
  }
  .allcards-team .card {
    width: 100%;
  }
  .number-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .number-data p {
    margin: 5px;
  }

  #work .img-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  #work .img-div img {
    margin: 0px;
    width: 100%;
  }
  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .skills .headings p {
    font-size: 15px;
    line-height: 1.8;
    width: 475px;
  }
  .progress-bar {
    width: 22%;
  }
  .skills .progress-bar p {
    display: flex;
    padding: 10px;
  }
  .skills .progress-bar p i {
    margin: 8px;
  }
  #pricing .price-cards {
    flex-direction: column;
  }
  #pricing .price-cards .card {
    width: 95%;
    margin-bottom: 3px;
  }
  footer {
    height: 43vh;
  }
  #pricing .price-cards .card .pro {
    margin-top: 0px;
  }
}
@media (max-width: 550px) {
  nav .navlinks {
    display: block !important;
    position: fixed !important;
    top: 0px;
    left: -100%;
    color: #fff !important;
    background-color: #000 !important;
    height: 100%;
    width: 200px;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 25;
    overflow: auto;
  }
  .logo {
    display: block;
    float: left;
    padding: 0px;
  }
  nav .navlinks a {
    font-size: 20px;
    display: block !important;
    margin: 10px 0;
    cursor: pointer;
    color: #fff !important;
    background-color: #000 !important;
    float: left;
  }
  .navbar {
    width: 100%;
  }
  nav .menu-btn i {
    display: block;
    float: right;
    background-color: white;
    color: black;
    line-height: 57px;
    margin-right: 12px;
    font-size: 16px;
  }
  #click:checked ~ nav .navlinks {
    left: 0;
  }
}
